#main {
    margin: 64px auto 32px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    color: #3F3D56 ;
    margin-bottom: 16px;
}

h1 span {
    font-weight: 700;
    color: #EE24FF ;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
}

p {
    margin: 0 auto 32px;
    color: #828282;
}

p strong {
    color: #3F3D56;
}

.line {
    width: 391px;
    height: 0px;
    margin: 64px auto 16px;
    border: 1px solid #ECEFF2;
}

#footer {
    margin: 0 auto 40px; 
}

#footer a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-decoration: none;
    color: #3F3D56;
}

#footer a + a {
    margin-left: 42px;
}

#footer img {
    position: fixed;
    margin-left: 0;
    margin-bottom: 0;
}